
.btn {
    align-items: center;
    background-clip: padding-box;
    background-color: var(--color-primario);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .btn:hover,
  .btn:focus {
    background-color:  var(--color-boton-primario-hover); 
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .btn:hover {
    transform: translateY(-1px);
  }
  
  .btn:active {
    background-color:  var(--color-boton-primario-active);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
  }


  
.btn-secundario {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--color-secundario);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.btn-secundario:hover,
.btn-secundario:focus {
  background-color: var(--color-boton-secundario-hover);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-secundario:hover {
  transform: translateY(-1px);
}

.btn-secundario:active {
  background-color: var(--color-boton-secundario-active);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}