@import url(assets/scss/variables/variables.scss);
@import url(assets/scss/alertas.scss);
@import url(assets/scss/flex.scss);
@import url(assets/scss/form.scss);
@import url(assets/scss/button.scss);

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf")
    format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
label,a,button,span,.alert {
  font-family: "Open Sans";
}

html{
  background: #f4f2f2;
}

app-alertas{
  position: absolute;
  top: 10vh;
  right: 5vh;
  width: 285px;
}