
:root {
    --color-primario: #fa6400;
    --color-secundario: #2f93d6;
    --color-neutro: #b5d0e2;


    --color-boton-primario-hover: #fb8332;
    --color-boton-primario-active: #c85000;

    --color-boton-secundario-hover: #25a7c7;
    --color-boton-secundario-active: #16697e;

  }